<footer id="footer">
  <h2 class="assistive">Author</h2>
  <address>
    <p>
      <span data-author="{{ site.author }}">{{ site.author }}</span>
      &nbsp;<a href="//twitter.com/intent/user?screen_name=naqaki" title="Twitter">Twitter</a>
      &nbsp;<a href="//github.com/nagaki" title="Github">Github</a>
      &nbsp;<a href="&#x6d;&#97;&#x69;&#108;&#116;&#x6f;&#58;&#97;&#x74;&#115;&#117;&#x73;&#x68;&#x69;&#x40;&#x6e;&#x61;&#103;&#x61;&#x6b;&#105;&#46;&#109;&#101;" title="Email Contact">Email</a>
    </p>
  </address>
  <p id="copyright">&#169; 2007 {{ site.name }}</p>
</footer>
