<header id="header">
  <h1 class="title">
    <a href="/" title="{{ site.name }}">
      <img src="/img/global/allaurmono.svg" alt="ALLAURMONO" width="445" height="70">
    </a>
  </h1>
  <p class="description">ひびのできごとなどをたまにかきます</p>
  <nav id="globalnavigation">
    <ul>
      <li><a href="/diary.html" title="Diary">diary</a></li>
      <li><a href="/practice.html" title="Practice">practice</a></li>
      <li><a href="/about.html" title="About">about</a></li>
      <!--li><a href="/bezier.html" title="Bezier">bézier</a></li-->
    </ul>
  </nav>
</header>
