<header id="header">
  <object data="/img/global/allaurmono.svg" type="image/svg+xml" width="445" height="70" class="title">
    <h1 class="title">{{ site.name }}</h1>
  </object>
  <p class="description">{{ site.description }}</p>
  <nav id="globalnavigation">
    <ul>
      <li>
        <a href="/" title="{{ site.name }}">
          <i class="icon icon-home"></i>
          <span class="link-text">home</span>
        </a>
      </li>
      <li>
        <a href="/diary" title="Diary Posts List">
          <i class="icon icon-pencil"></i>
          <span class="link-text">diary</span>
        </a>
      </li>
      <li>
        <a href="/practice" title="Practice Posts List">
          <i class="icon icon-terminal"></i>
          <span class="link-text">practice</span>
        </a>
      </li>
      <li>
        <a href="/about.html" title="About">
          <i class="icon icon-profile"></i>
          <span class="link-text">about</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
