<header id="header">
  <object data="/img/global/allaurmono.svg" type="image/svg+xml" width="445" height="70" class="title">
    <h1 class="title">{{ site.name }}</h1>
  </object>
  <p class="description">{{ site.description }}</p>
  <nav id="globalnavigation">
    <ul>
      <li><a href="/" title="{{ site.name }}">home</a></li>
      <li><a href="/diary" title="Diary Posts List">diary</a></li>
      <li><a href="/practice" title="Practice Posts List">practice</a></li>
      <li><a href="/about.html" title="About">about</a></li>
    </ul>
  </nav>
</header>
