// based padding and margin
$base-padding: 20px;
$base-margin: 20px;
$radius-out: 4px;
$radius-in: 2px;

// coloring
$main-color: snow;
$link-color: steelblue;
$font-color: slategray;
$light-color: cadetblue;
$clear-color: white;
$oops-color: tomato;
$cool-color: royalblue;

// base-width
$desktop-width: 640px;
$phone-width: 480px;

// font-size
@mixin font-size( $size: 1.4, $line: $size * 1.5 ) {
  font-size: ( $size * 10 ) + px;
  line-height: ( $line * 10 ) + px;
  //font-size: $size + rem;
  //line-height: $line + rem;
}

// inline-block
@mixin inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
