// include compass libraries
@import "compass/css3";

// based padding and margin
$base-padding: 20px;
$base-margin: 20px;
$radius-out: 4px;
$radius-in: 2px;

// coloring
$main-color: gold;
$link-color: forestgreen;
$font-color: saddlebrown;
$light-color: darkgoldenrod;
$clear-color: white;
$oops-color: tomato;
$cool-color: royalblue;

// base-width
$desktop-width: 640px;
$phone-width: 480px;

// font-size
@mixin font-size( $size: 1.4, $line: $size * 1.5 ) {
  font-size: ( $size * 10 ) + px;
  line-height: ( $line * 10 ) + px;
  //font-size: $size + rem;
  //line-height: $line + rem;
}
