// based padding and margin
$base-padding: 15px;
$base-margin: 15px;
$radius-out: 4px;
$radius-in: 2px;

// coloring
$main-color: oldlace;
$link-color: seagreen;
$font-color: sienna;
$light-color: darken(tan, 15%);
$clear-color: snow;
$oops-color: tomato;
$cool-color: royalblue;

// base-width
$desktop-width: 640px;
$phone-width: 480px;

// font-size
@mixin font-size( $size: 1.6, $line: $size * 1.5 ) {
  font-size: ( $size * 10 ) + px;
  line-height: ( $line * 10 ) + px;
}
