@font-face {
  font-family: "MyHiragino";
  font-weight: normal;
  src: local("Hiragino Sans"), local("ヒラギノ角ゴ ProN W3"),
    local("Hiragino Kaku Gothic ProN");
}

@font-face {
  font-family: "MyHiragino";
  font-weight: bold;
  src: local("Hiragino Sans"), local("ヒラギノ角ゴ ProN W6"),
    local("Hiragino Kaku Gothic ProN W6");
}

/* main
-------------------- */
html {
  font-size: 62.5%;
}
body {
  @include font-size(1.6, 2.8);
  font-family: "MyHiragino", sans-serif;
  font-feature-settings: "palt" 1;
  letter-spacing: 0.04rem;
  margin: 0;
  padding: $base-padding * 3 $base-padding;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* element
-------------------- */
img,
iframe,
svg {
  max-height: 100%;
  max-width: 100%;
}
img,
svg {
  height: auto;
}
img {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.oops {
  color: $oops-color;
}
.cool {
  color: $cool-color;
}

/* container
-------------------- */
.global-header,
.content,
.global-footer {
  margin: 0 auto;
  max-width: $desktop-width;
}

/* header
-------------------- */
.global-header {
  .title,
  .description,
  .nav {
    margin: 0 0 $base-margin * 2;
  }
  .title {
    display: inline-block;
  }
  .nav {
    a {
      display: inline-block;
      margin: 0.25em;
      text-transform: capitalize;
      &:first-child {
        margin-left: 0;
      }
    }
    .active {
      border-bottom: 2px solid;
    }
  }
}

/* title svg
-------------------- */
.animate {
  fill: none;
  stroke: #0000ee;
  stroke: {
    linecap: round;
    linejoin: round;
    width: 0.5;
  }
}
.title:visited .animate {
  stroke: #551a8b;
}

/* content
-------------------- */
.content {
  margin-bottom: $base-margin * 2;
  time,
  .date {
    font-family: Monaco, "Courier New", monospace;
    font-size: 95%;
  }
  > h1 {
    display: none;
  }
  h1 {
    font-size: 110%;
    margin: 0;
  }
  .body {
    text-align: justify;
    text-justify: inter-ideograph;
    padding-top: 2rem;
    h2 {
      font-size: 110%;
      margin: 3rem 0;
    }
    h3 {
      font-size: 100%;
      margin: 3rem 0;
    }
    hr {
      border: {
        style: solid;
      }
    }
    blockquote {
      border-left: 2px solid;
      font-style: italic;
      margin: $base-margin;
      padding-left: 0.5em;
    }
    img {
      border-radius: 2px;
    }
    p {
      margin: 2rem 0;
    }
  }
  .posts {
    .year {
      font-size: 95%;
      font-family: Monaco, "Courier New", monospace;
      font-weight: normal;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 0.25em 0;
    }
  }
  .adsense {
    max-width: 100%;
    padding: $base-padding 0;
    width: 300px;
  }
}

/* comment
-------------------- */
.comments {
  background-color: #fff;
  border-radius: $radius-out;
  margin-bottom: $base-margin;
  padding: $base-padding $base-padding 0;
}

/* footer
-------------------- */
.global-footer {
  .copyright,
  address {
    display: inline-block;
  }
  .copyright {
    margin: 0;
  }
  address {
    font-style: normal;
  }
}

/* highlight
-------------------- */
.body {
  > .highlight pre,
  > .highlight code,
  p > code {
    @include font-size(1.3);
    font-family: Monaco, "Courier New", monospace;
    letter-spacing: 0;
  }
  > .highlight {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: $radius-out;
    margin: 0;
    padding: 0.5em 0.75em;
    pre {
      margin: 0;
      overflow: auto;
      word-wrap: normal;
    }
    .lineno {
      color: lightsteelblue;
      margin-right: 0.5em;
    }
  }
}
.gist .gist-file .gist-data {
  font-size: 13px;
  font-size: 1.3rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 30px 0;
  .flex-item {
    box-sizing: border-box;
    flex: 0 0 calc(50% - 15px);
    margin-bottom: 15px;
  }
}

.paints {
  padding: 1rem;
  .paint {
    margin-bottom: 2rem;
  }
}
