/* Mobile
-------------------- */
@media ( max-width: $phone-width ) {
  body {
    -webkit-text-size-adjust: 100%;
    @include font-size(1.4);
    padding: $base-padding * 2 $base-padding $base-padding * 3;
  }
  .content {
    .body {
      img {
        width: 96%;
      }
    }
    .posts {
      .date {
        display: block;
      }
    }
  }
}
