@import "reset";
@import "base";

/* main
-------------------- */
html {
  font-size: 62.5%;
}
body {
  @include font-size;
  background-color: $main-color;
  color: $font-color;
  font-family: sans-serif;
  margin: 0;
}

/* element
-------------------- */
img,
object[type="image/svg+xml"] {
  max-width: 100%;
  height: auto;
}
a {
  color: $link-color;
  text-decoration: none;
  &:visited {
    color: lighten($link-color, 10);
  }
  &:hover {
    color: darken($link-color, 10);
  }
  &:active {
    color: invert($link-color);
  }
}
.assistive {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
}
.oops {
  color: $oops-color;
}
.cool {
  color: $cool-color;
}
::selection {
  background-color: $cool-color;
  color: #fff;
}

/* container
-------------------- */
#container {
  margin: 0 auto;
  max-width: $desktop-width;
  padding: $base-padding;
}

/* header
-------------------- */
#header {
  margin: 0 0 $base-margin;
  text-align: center;
  .title {
    margin: 0 0 $base-margin / 2;
    padding: $base-padding;
  }
  .description {
    color: $light-color;
    line-height: 1em;
    line-height: 1rem;
    margin: 0;
    padding: $base-padding / 2;
  }
}
#globalnavigation {
  ul {
    padding-left: 0;
  }
  li {
    @include inline-block;
    margin: 0 1em;
  }
}

/* content
-------------------- */
#content {
  margin: 0 0 $base-margin;
  time,
  .tag {
    @include font-size(1.3);
    color: $light-color;
    font-family: Monaco, "Courier New", monospace;
  }
  header {
    border-left: 2px solid $light-color;
    margin: 0 0 $base-margin;
    padding: .25em .5em 0;
    h1 {
      @include font-size(1.6);
      margin: 0;
    }
    .meta {
      margin: .25em 0;
    }
    time {
      &:after {
        content: "/"
      }
    }
  }
  .body {
    h2 {
      @include font-size(1.6);
      border-bottom: 1px dashed $light-color;
    }
    h3 {
      border-left: 2px solid $light-color;
      padding-left: .5em;
    }
    hr {
      border: {
        color: $light-color;
        style: solid;
      }
    }
    blockquote {
      border-left: 2px solid $clear-color;
      font-style: italic;
      padding-left: .5em;
    }
    img {
      background-color: $clear-color;
      border-radius: $radius-out;
      padding: 4px;
    }
  }
  .posts {
    article {
      padding: .25em 0;
    }
    h1 {
      @include font-size(1.4);
      //@include inline-block;
      display: inline;
      font-weight: normal;
      margin: 0;
    }
    time {
      &:after {
        content: "»";
      }
    }
  }
}

/* comment
-------------------- */
#comments {
  background-color: #fff;
  border-radius: $radius-out;
  margin-bottom: $base-margin;
  padding: $base-padding $base-padding 0;
}

/* footer
-------------------- */
#footer {
  @include font-size(1.3);
  border-top: 1px dashed $light-color;
  address {
    font-style: normal;
    padding: 0 0 0 1em;
  }
}
#copyright {
  color: $light-color;
  padding: 1.5em;
  text-align: center;
}

/* highlight
-------------------- */
.body {
  > .highlight {
    background-color: $clear-color;
    border-radius: $radius-out;
    padding: .5em .75em;
    pre,
    code {
      @include font-size(1.3);
      font-family: Monaco, "Courier New", monospace;
    }
    pre {
      margin: 0;
      overflow: auto;
      word-wrap: normal;
    }
    .lineno {
      color: $oops-color;
    }
  }
  p > code {
    @include font-size(1.3);
    font-family: Monaco, "Courier New", monospace;
    background-color: $clear-color;
    border-radius: $radius-in;
    margin: 0 .1em;
    padding: .25em;
  }
}
.gist .gist-file .gist-data {
  font-size: 13px !important;
  font-size: 1.3rem !important;
}

/* Media
-------------------- */
@media ( max-width: $phone-width ) {
  body {
    -webkit-text-size-adjust: 100%;
  }
  #header {
    .title {
      padding: 0;
      margin-bottom: $base-margin * 1.5;
    }
    .description {
      @include font-size(1.2);
      padding: 0;
    }
  }
  #content {
    margin-bottom: 0;
    .body {
      img {
        width: 96%;
      }
    }
    .posts {
      article {
        border-top: 1px dashed $light-color;
      }
      h1 {
      }
      time {
        display: block;
        padding: .25em 0 0;
        &:after {
          content: none;
        }
      }
    }
  }
}
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
  #header {
    margin-bottom: 0;
    .title {
      background-color: #666;
      border-radius: $radius-out;
      padding: $base-padding / 2;
      img {
        width: 40%;
      }
    }
  }
  #header .description,
  #globalnavigation {
    display: none;
  }
  #content {
    .body {
      img {
        background-color: #fff;
        border-radius: 0;
        padding: 0;
      }
    }
  }
  .highlight {
    background-color: #fff !important;
    border-radius: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
}
