<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+Mono:wght@400&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% if page.path != 'index.html' %}
        {% if page.title == 'diary' or page.title == 'paint' or page.title == 'practice' %}
          {{ page.title | capitalize }}
        {% else %}
          {{ page.title }}
        {% endif %}
       -
      {% endif %}
      {{ site.name }}
    </title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/feed.xml">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
