<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    {% for category in page.categories %}
    {% if category == 'practice' %}
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    {% endif %}
    {% endfor %}

  </head>
  <body>

    <div id="container">
      <div id="site">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
      </div>
    </div> <!-- /container -->

  </body>
</html>
