---
layout: default
---
<main class="content paint">
  <article>
    <h1>{{ page.title }}</h1>
    <footer class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date_to_string }}
      </time>
    </footer>
    <div class="body">
      <div class="paints">
        {% for image in page.images %}
        <amp-img class="paint" src="/img/uploads/{{page.directory}}/{{image}}" layout="responsive" width="240" height="240"></amp-img>
        {% endfor %}
      </div>
      {{ content }}
    </div>
  </article>
</main>
